* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}


/* ------------------------  FONT  ----------------------------------*/

@font-face {
    font-family: 'tekobold';
    src: url('teko-bold-webfont.woff2') format('woff2'),
         url('teko-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tekolight';
    src: url('font/teko/teko-light-webfont.woff2') format('woff2'),
         url('font/teko/teko-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tekomedium';
    src: url('font/teko/teko-medium-webfont.woff2') format('woff2'),
         url('font/teko/teko-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tekoregular';
    src: url('teko-regular-webfont.woff2') format('woff2'),
         url('teko-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tekosemibold';
    src: url('teko-semibold-webfont.woff2') format('woff2'),
         url('teko-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: '04b30';
    src: url('font/pixel04/04b_30__-webfont.woff2') format('woff2'),
         url('font/pixel04/04b_30__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* ------------------------------------------------------------------*/


body {
    background-color: #111111;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h1 {
    
    margin-bottom: 100px;
    font-size: 7dvw;
    font-family: '04b30';
    letter-spacing: 10px;
    font-weight: 900;
    color: transparent;


    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
    background: linear-gradient(90deg, rgb(38, 0, 255), rgb(62, 33, 227), rgb(192, 33, 213), rgb(224, 26, 194), rgb(255, 0, 195));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    transition-duration: 300ms;

}
  
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }
    

h1:hover {
    transition-duration: 500ms;
    letter-spacing: -5px;
    animation: shine 0.7s infinite;

}

@keyframes animatedText {
    /* from{
        background-position: 0%;
    } */
    to{
        background-position: 100%;
    }
}

.logbutton {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logbutton li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10px;
}

.logbutton li a {
    display: flex;
    justify-content: center;

    color: rgb(255, 255, 255);
    font-family: 'tekolight';
    font-size: 20px;
    letter-spacing: 2px;

    width: 150px;
    padding: 12px 100px; 
  }


.log-button {
    border: 1px solid;
    border-image: linear-gradient(90deg, rgb(62, 33, 227), rgb(255, 0, 195));
    border-image-slice: 1;

    background: linear-gradient(90deg, rgb(62, 33, 227), rgb(255, 0, 195)) no-repeat right bottom / 0 var(--bg-h);

    transition: background-size 350ms;
    --bg-h: 100%;

    margin-bottom: 50px;

}

  
.logbutton li a:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
}

.login-infos {
    font-family: 'tekolight';
    letter-spacing: 1px;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.241);
    color: rgba(255, 255, 255, 0.241);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    transition-duration: 200ms;
}

.login-infos:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.812);
    transition-duration: 200ms;
}

